*{
    margin: 0;
    padding: 0;
}
    html{
        font-size: 100%;
        scroll-behavior: smooth;
    }
    body{
        font-family: 'popins',sans-serif;
        overflow-x:hidden
        H1{color:rgb(255, 0, 0)}
        
    }
   

    /*hero div starts here*/
#hero{
    position: relative;
height:100vh; 
width:100vw;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

#hero::before{
 content:"";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width:100%;
background-image: url("image.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
filter: brightness(50%);
}

/*hero_content div*/
#hero_content{
    position: absolute;
}
#hero_content h1{
    color:#fff;
    font size:2.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow:2px 2px 2px #000;
}
#hero_content h2{ 
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:rgb(255, 165, 0);
    font-family: cursive;
    font-size: 2rem;
    text-shadow:2px 2px 2px #000;
}
#hero_content a{
    color: #fff;
    padding: 5px 20px 5px 20px;
    border: 1px solid orange;
    background: rgb(0,0,0,0.6);
    font-size: 1.5rem;
    border-radius: 25px;
}
#hero_content a:hover{
    background:orangered;
}

/*set header and navbar*/
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    line-height:100px ;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
}
#navbar h1{
    color:orange;
    font-size:1.8rem;
    text-shadow:2px 2px 2px #000;

    }
    #navbar ul{
        display: flex;
        justify-content: space-evenly;
    }
    #navbar ul li{
        list-style: none;
        padding: 3px 15px 3px 15px;
    }
    #navbar ul li:hover,#phone a:hover,#mobile_menu ul li:hover{
  background-color: orangered;
   cursor: pointer;
}
#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
#phone a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px;
    border: 2px solid rgb(255, 255, 255);
}

/* css for mobile responsiveness*/
#mobile_menu{
    display:none;
    height: 40px;
    line-height: 40px;
    background-color: magenta;
}
#mobile_menu ul{
    display:flex;
justify-content: space-evenly;
}
#mobile_menu ul li{
    list-style:none;
    padding: 0ps 5px  0px 5px;
}
#mobile_menu ul li a{
    text-decoration:none;
    color:#fff;
}

/*MENUSECTION--*/
#MENU{
    padding:0PX 0PX 0PX 0PX;
}
#section{
    padding: 25PX 0PX 25PX 0PX;
    text-align: center;
    font-size: 50px;
    font-family: verdana;

}
#menu_row{
    display: flex;
    padding:0px 100px 0px 100px;

}
#menu_col{
    box-shadow: 2px 2px 2px #454242 ;
    border:4px solid #fc4545;
    background-color:#f7b9b9;
    margin: 5px;
    padding: 10px;
    flex: 1;
}
#menu_col h2{
    background-color:rgb(135, 24, 24);
    color:#fff;
    text align :centre;
    padding: 5px;
    font-family: cursive;
}
h2,h3,h4{
    text-align: center;

}
#image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
    
}
#image img{
    border-radius:15%;
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.box{
    display:flex;
    flex-direction:column ;
    align-items: centre;
    text-align: centre;
    margin:20px;

}
/* CSS FO CHEF SECTION*/
#chef{
    padding: 25px 0px 25px 0px;
}
#chef_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chef_col{
    text-align: center;
    padding: 100px;
    margin: 800px;
}
#img{
    width: 200px;
    height: 250px;
    margin: 40px;
}
#img img{
    height:100%;
    width:100%;
    object-fit:cover;
}

/*media queries for rersponsiveness starts here */
@media screen and (max-width:768px) 
{
    #header{
        position: absolute;
    }
    #mobile_menu{
        display: block;
    }
    #navbar ul{
        display:none;
    }
    html{
font-size: 95%;
  }
  #menu_row,#about_row{
    flex-wrap :wrap;
    padding: opx 10px 0px 10px;
  }
}
@media screen and (max-width:360px) {
    font-size:75%
}
/*media queries for responsiveness ends here */

/* css for about */
#about{
    padding: 25px 0px 25px 0px ;
}
#about_row{
    
    align-items: center;
    flex-wrap:wrap;
    padding:o px 100px 0px 100px;
}
.about_col
{
   flex:1; 
}
#about_img{
    height:300px;
    width:300px;
    border-radius: 50%;
    margin: auto;
}
#about_img img{
    width: 100%;
    height:100%;
    border-radius=50%;
    object-fit: fill;
}
.about_col h1{
    text-align: center;
    font-family: cursive;
}
.about_col p{
    text-align: justify;
    font-weight:bold;
}

@media screen and (max-width:360px) {
    html{
        font: size 70%;
    
    }
    #about_img{
        width:300px;
        height:220px;
    }

}

/*css for contact us*/
#contact {
    background: #fff;
    padding: 50px 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

p {
    color: #3a3838;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.contact-item {
    text-align: left;
}

.contact-item h3 {
    margin-bottom: 10px;
    color: #333;
}

.contact-item p {
    margin: 0;
}

.contact-item a {
    color: #333;
    text-decoration: none;
}

form {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: blue;
}

/*footer section */
.footer-column {
    flex: 1;
    padding: 20px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column p, .footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul.social-icons {
    display: flex;
}

.footer-column ul.social-icons li {
    margin-right: 10px;
}

.footer-column ul.social-icons li a img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
}

.footer-bottom p {
    margin: 0;
}


